@page
@model api_flms_service.Pages.DashboardModel
@{
    ViewData["Title"] = "Library Management System";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <meta charset="utf-8" name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/Dashboard">Library Management System (LMS)</a>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button" data-toggle="dropdown">
                        My Profile
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/ViewProfile">View Profile</a>
                        <a class="dropdown-item" href="/EditProfile">Edit Profile</a>
                        <a class="dropdown-item" href="/ChangePassword">Change Password</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <br>
    <div class="container">
        <h2>Dashboard</h2>
        <div class="row">
            <div class="col-md-3">
                <div class="card bg-light">
                    <div class="card-header">Registered Users</div>
                    <div class="card-body">
                        <p class="card-text">No. total Users: @Model.TotalUsers</p>
                        <a href="/Users" class="btn btn-danger">View Registered Users</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card bg-light">
                    <div class="card-header">Total Books</div>
                    <div class="card-body">
                        <p class="card-text">No. of books available: @Model.TotalBooks</p>
                        <a href="/Books" class="btn btn-success">View All Books</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card bg-light">
                    <div class="card-header">Book Categories</div>
                    <div class="card-body">
                        <p class="card-text">No. of Book Categories: @Model.TotalCategories</p>
                        <a href="/Categories/" class="btn btn-warning">View Categories</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card bg-light">
                    <div class="card-header">Authors</div>
                    <div class="card-body">
                        <p class="card-text">No. of Authors: @Model.TotalAuthors</p>
                        <a href="/Authors" class="btn btn-primary">View Authors</a>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-3">
                <div class="card bg-light">
                    <div class="card-header">Books Issued</div>
                    <div class="card-body">
                        <p class="card-text">No. of books issued: @Model.TotalIssuedBooks</p>
                        <a href="/IssuedBooks" class="btn btn-success">View Issued Books</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
</html>